* {
    margin: 0;
    padding: 0;
}

/* ESTILIZAÇÃO DO TOPO DA PÁGINA */
header {
    display: flex;
    justify-items: center;
    align-items: center;
    background-color: rgb(105, 179, 90);
    
}

img {
    margin-left: 1rem;
    padding: 1rem;
}
.mundinho2:hover {
    scale: 1.2;
}

.menu_bar {
    font-family: Impact, Haettenschweiler, 'Fantasy', sans-serif;
    color: #0b5005;
    font-size:x-large;
}

#home:hover {
    scale: 1.2;
    text-shadow:hsl(152, 89%, 17%) 1px 1px 25px;
}
#games:hover {
    scale: 1.4;
    text-shadow:hsl(152, 89%, 17%) 1px 1px 25px;
}
#about:hover {
    scale: 1.2;
    text-shadow:hsl(152, 89%, 17%) 1px 1px 25px;
}


nav {
    display: inline-block;
}

ul {
    display: block;
    margin-left: 150px;
}

li {
    display: inline-flex;
    margin-left: 1rem;
}

/* ESTILIZAÇÃO DO CORPO DA PÁGINA */
.game {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    box-sizing: border-box;
    flex-wrap: wrap;
    border: solid 5px #536fca;
    border-radius: 1%;
    margin: 2rem;
    padding: 2rem;
}

/* TUTORIAL GAME*/
.game_tutorial{
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    width: 500px;
}

.tutorial_list{
    margin: 10px;
}

.tutorial_list ul{    
    margin-left: 15px;
}

.tutorial_list li{
    display: inline-block;
    max-width: 500px;
    list-style-type:none;
    list-style-position: inside;
    align-items: left;
    margin: 5px;
}

/* ESTILIZAÇÃO DAS PÁGINAS DOS JOGOS*/

.apresentacao{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    box-sizing: border-box;
    flex-wrap: wrap;
    border:none;
    border-radius: 1%;
    margin: 2rem;
    padding: 2rem;
    font-family:fantasy;
    font-size: x-large;
}
.description{
    display: flex;
}
.game_description{
    flex-direction:column;
    justify-content:center ;
    align-items: flex-end;
    box-sizing: border-box;
    max-width: 500px;
    padding: 5px;
    margin: 5px; 
}
.game_description p{
    margin-top: 5px;
    text-align: justify;
}

/* FIM DA ESTILIZAÇÃO DAS PÁGINAS DOS JOGOS*/

.box {
    background-color: #69a7f931;
    box-sizing: border-box;
    border: solid 1px  #69a7f931;
    padding: 2rem;
    margin: 2rem;
}
#green:hover{
    scale: 1.1;
}
#red:hover{
    scale: 1.1;
}
#yellow:hover{
    scale:1.1;
}

/* ESTILIZAÇÃO DO RODAPÉ DA PÁGINA */
footer {
    background-color: #6ec7f0;
    text-align: center;
    padding: 1rem;
    margin: 1rem;
}

.footer_bar {
    display: flex;
    align-items: center;
}